<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link th:rel="stylesheet" th:href="@{http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css}"/>

    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link th:rel="stylesheet" th:href="@{http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css}"/>

    <link th:href="@{/css/signin.css}" rel="stylesheet"/>


    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script th:src="@{http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js}"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script th:src="@{http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js}"></script>

</head>
<body>


<div th:class="container">

    <form th:class="form-signin" th:action="@{/login}" th:method="POST">
        <h2 th:class="form-signin-heading" th:text="请登录"></h2>
        <label th:for="inputUsername" class="sr-only" th:text="用户名"></label>
        <input th:type="text" th:id="inputUsername" th:class="form-control" th:placeholder="用户名" th:required="true"
               th:autofocus="true" name="username"/>

        <label th:for="inputPassword" class="sr-only" th:text="密码"></label>
        <input th:type="password" th:id="inputPassword" th:class="form-control" th:placeholder="密码"
               th:required="true"  name="password"/>
        <button class="btn btn-lg btn-primary btn-block" th:type="submit">登录</button>
    </form>

</div> <!-- /container -->


</body>
</html>
