<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/zxc_user</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <mapping class="com.puffingBread.zxc.model.UserRole"/>
        <mapping class="com.puffingBread.zxc.model.User"/>
        <mapping class="com.puffingBread.zxc.model.Role"/>
        <mapping class="com.puffingBread.zxc.model.UserInfo"/>
    </session-factory>
</hibernate-configuration>