<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/zxc_dynamic</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <mapping class="com.puffingBread.zxc.com.puffingBread.zxc.model.Browser"/>
        <mapping class="com.puffingBread.zxc.com.puffingBread.zxc.model.Comment"/>
        <mapping class="com.puffingBread.zxc.com.puffingBread.zxc.model.Content"/>
        <mapping class="com.puffingBread.zxc.com.puffingBread.zxc.model.Dynamic"/>
        <mapping class="com.puffingBread.zxc.com.puffingBread.zxc.model.Retweet"/>
        <mapping class="com.puffingBread.zxc.com.puffingBread.zxc.model.Reward"/>
        <mapping class="com.puffingBread.zxc.com.puffingBread.zxc.model.ThumbUp"/>
    </session-factory>
</hibernate-configuration>